In [1]:
import pandas as pd
import matplotlib.pylab as plt
from pydataset import data

### DESAFIO 1: PYDATASET

In [3]:
plantas = data("plantTraits")
plantas.head()

,pdias,longindex,durflow,height,begflow,mycor,vegaer,vegsout,autopoll,insects,...,seashiv,seasver,everalw,everparti,elaio,endozoo,epizoo,aquat,windgl,unsp
Aceca,96.84,0.000000,2,7,5,2.0,0.0,0.0,0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Aceps,110.72,0.000000,3,8,4,2.0,0.0,0.0,0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Agrca,0.06,0.666667,3,2,6,2.0,0.0,1.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Agrst,0.08,0.488889,2,2,7,1.0,2.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Ajure,1.48,0.476190,3,2,5,2.0,2.0,0.0,1,3,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [5]:
print('TIPOS DE DADOS:', type(plantas))                                        ### mostra os tipos de dados

TIPOS DE DADOS: <class 'pandas.core.frame.DataFrame'>

In [6]:
print('NÚMERO DE LINHAS:', plantas.shape[0])                                  ### .shape mostra o numero de linhas [0] e colunas[1]
print('NÚMERO DE COLUNAS:', plantas.shape[1])

NÚMERO DE LINHAS: 136
NÚMERO DE COLUNAS: 31

In [7]:
def LinhasColunas(dataframe):                                                 ### função para retornar o numero de linhas e colunas 
  return dataframe.shape                                                      ### de um dataframe trazido pelo codigo

dataframe = data('titanic')
print('NÚMERO DE LINHAS:' ,LinhasColunas(dataframe)[0])
print('NÚMERO DE COLUNAS:', LinhasColunas(dataframe)[1])

NÚMERO DE LINHAS: 1316
NÚMERO DE COLUNAS: 4